/* Write your CSS here */

.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #2d3a35;
  font-weight: 700;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #2d3a35;
}
.button {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.count {
  font-family: 'Roboto';
  font-size: 35px;
  color: #c20a72;
  font-weight: 700;
}
